/* Policies.css */
.policy-container {
  padding: 20px;
  margin: 40px auto;
  max-width: 1000vh;
  background-color: #222121;
  border-radius: 5vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .font-weight-bold {
    font-weight: bold;
  }
  
  .mt-3 {
    margin-top: 3px;
  }
  
  .mt-6 {
    margin-top: 6px;
  }
  
  .h2-heading {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 20px;
  }
  
  li p {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  li ul {
    padding-left: 20px;
  }
  
  li li {
    margin-bottom: 10px;
  }